<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.opensourceecm.android.alfresco"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Activity responsible to create an Android account associated to an Alfresco Server ()-->
        <activity
            android:name="fr.opensourceecm.android.alfresco.account.ui.AccountCreationActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        
        
        <!-- Document Provider based on Android Storage Access Framework -->
        <provider
            android:name="fr.opensourceecm.android.alfresco.storage.provider.AlfrescoStorageAccessProvider"
            android:authorities="fr.opensourceecm.android.alfresco.storage.provider.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!-- Used For Account Authentication -->
        <service
            android:name="fr.opensourceecm.android.alfresco.account.AccountAuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>
</manifest>
